/* The alert message box */
@keyframes slide {
    0% {
      transform: translate(-200%)
    }
    100%{
      transform: translate(0%);
    }
  }

  .slide-in{
    animation: slide 0.4s ease-in-out;
  }
  

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
    position: fixed;
    padding: 1rem 1rem;
    margin: 2.5rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    z-index: 1000000;
    top: 0;
    left: 0;
    /* width: 80%; */
  }
  .alert-close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.2em;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
    /* When moving the mouse over the close button */
    .alert-close-btn:hover {
      color: black;
    }
  

  .error {
    color: #842029;
    background-color: #da989d;
    border: 2px solid #96464f;
  }
  
  .success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }
  
  .warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
  }
  .primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
  }
  
  .secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
  }
  
  .info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
  }



