.no-chat-open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 30px;
    width: 72%;
    font-weight: 600;
}
.no-messages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    font-weight: 600;
}

.chat-interface-section{
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    width: 72%;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    border-left: 2px solid black
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 10px;
    background: var(--color-background);
    color: white;
    box-shadow: 0px 7px 5px 5px rgba(41, 41, 41, 0.8);
  }

  .chat-header-title{
    /* border: 2px solid red; */

  }
  .chat-header-members{
    color: rgb(199, 198, 198);
    font-size: 16px;
  }

  .chat-header-settings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-right: 14px;
  }

.info-chat-btn, .edit-chat-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    position: relative;

}
.info-chat-btn:hover, .edit-chat-btn:hover{
    background-color: #4d4d4d;

}


.chat-input-form{
    /* height: 70px; */
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border-top: 2px solid #ddd; */
    background: var(--color-background);
    box-shadow: 0px -5px 5px 4px rgba(41, 41, 41, 0.8);

}

.chat-input-form *{
    padding: 14px;
    border-radius: 3px;
    font-size: 1.1em;
    outline: none;
    border: none;
    position: relative;
    
}

.msg-input{
    flex: 1;
    background: #414141;
    color: white;
}
.msg-input::placeholder{
    color: rgb(174, 174, 174);
}
.msg-input:focus::placeholder{
    color: rgb(213, 210, 210);
}

.send-msg-btn{
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.send-msg-btn:hover{
    background: rgb(0, 196, 65, 0.8);
}
.main-chat-area-outer{
    flex: 1;
    overflow-y: hidden;
    position: relative
}
.main-chat-area{
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    padding: 15px;
    background-image: url("../assets/chat-bg-img.jpg");
}

.main-chat-area::-webkit-scrollbar{
    width: 14px;
    height: 10px;
}
.main-chat-area::-webkit-scrollbar-track {
    background: #969595;

  }
  .main-chat-area::-webkit-scrollbar-thumb {
    background: #3d3d3d;
  }

  /*for scrolling*/
  .dummy-div{
    /* margin-top: 100px; */
    float: left;
    clear: both;
  }

  .section-slider{
    width: 6px;
}

.section-slider:hover{
    cursor: w-resize;
}

.msg-date-div{
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
    background-color: var(--color-primary);
    color: rgb(53, 53, 53);
    font-size: 17px;
    font-weight: 400;
    padding: 7px;
    border-radius: 5px;
}
.typing-div{
    background-color: #2f2e2e;
    position: absolute;
    padding: 3px;
    padding-left: 7px;
    bottom: 0;
    left:0;
    animation: slide-up 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
}


@keyframes slide-up {
    0% {
      transform: translate(0%, 200%)
    }
    100%{
      transform: translate(0%, 0%);
    }
  }

.scroll-down-btn{
    background-color: #2f2e2e;
    position: absolute;
    padding: 5px;
    bottom: 20px;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 32px;
    cursor: pointer;
    opacity: 0.98;

}

.scroll-down-btn:hover{
    background-color: #434343;
}

.curr-view-date{
    background-color: #404040;
    position: absolute;
    padding: 6px;
    top: 6px;
    left:50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 32px;
    font-size: 17px;
    opacity: 0.85;
    pointer-events: none;
}