
.no-group-chats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 22px;
    font-weight: 450;
}

.chat-groups-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    background-color: #272727;
    /*#4d4d4d*/
    border-right: 2px solid black;
    z-index: 500;
}

.groups-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: 10px;
}


.groups{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    width: 100%;
    height: 50px;
    overflow-y: auto;
    padding: 10px;
    position: relative;
}

.groups::-webkit-scrollbar{
    width: 8px;
}
.groups::-webkit-scrollbar-track {
    background: #a6a5a5;
  }
  .groups::-webkit-scrollbar-thumb {
    background: #3d3d3d;
  }

.create-chat-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.create-chat-btn:hover{
    background-color: #4d4d4d;

}


.chat-group{
    background-color: #3e3e3e;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 14px;
    border-radius: 3px;
}
.chat-group:hover{
    background-color: #4d4d4d;
}
.group-selected{
    background-color: #5f5f5f;
}
.group-selected:hover{
    background-color: #717171;
}



.group-info-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    WIDTH: 100%;
}
.group-title{
    font-size: 20px;
    font-weight: 700;
}
.last-msg-time{
    font-size: 14px;
    color: #bdbdbd;
}
.latest-msg{
    font-size: 15px;
    color: #c9c5c5;
}