@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    width: 38vw;
    height: 35vw;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    /* opacity: 0.8; */

    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    /* opacity: 0.8; */
    right: -30px;
    bottom: -80px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(133, 130, 130, 0.3);
    position: absolute;
    /*To center */
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    min-width: 300px;
}

.form h3{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

/* label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
} */
.signup-input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    border: none;
}
.signup-input:focus{
    background-color: rgba(255,255,255,0.3);
}
.signup-input:focus::placeholder{
    color: white;
}
.signup-input::placeholder{
    color: #c6c5c5;
    font-weight: 400;

}
.submit-btn{
    margin-top: 50px;
    width: 100%;
    background-color: var(--color-primary);
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}
.submit-btn:hover{
    opacity: 0.8;
}

.social{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:8px;
    border-radius: 50%;
  background: red;
  background-color: rgba(255,255,255,0.27);
  cursor: pointer;
}

.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.or-use-section{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.questions-section{
    margin-top: 12px;
    color: white;
}

