@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.msg{
    display: flex;
    color: black;
    margin-bottom: 18px;
    align-items: center;

}
.msg-content-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}


.msg-content{
    font-size: 19px;
    font-weight: 500;
    word-break: break-all;
    word-wrap: break-word;
    margin-right: 2px;

}

.msg-edit-icon{
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    margin-left: 15px;
    

}
.msg-edit-icon:hover{
    background-color: rgb(65, 162, 171);

}

.right-msg .msg-content-section:hover .msg-edit-icon{
    opacity: 1;
}

.left-msg .msg-edit-icon{
    display: none;
}

.left-msg{
    justify-content: flex-start;

}

.right-msg{
    justify-content: flex-end;
}

.msg-edited-alert{
    color:#2d2d2d;
    font-size: 15px;
}

.center-msg{
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(56, 56, 56);
    padding: 0;
    border-radius: 10px;
}

.msg-bubble{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.left-msg .msg-bubble{
    border-radius: 10px 10px 10px 0px;
}

.right-msg .msg-bubble{
    border-radius: 10px 10px 0px 10px;

}

.msg-info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(96, 93, 93);
    gap: 18px;
    font-weight: 410;
    font-size: 17px;
}

.msg-info-right{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: rgb(96, 93, 93);
    gap: 5px;
}
.msg-options{
    position: relative;
}
.msg-options:hover{
    background-color: rgb(65, 162, 171);
    cursor: pointer;
    border-radius: 5px;
}

.msg-info-popup{
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 380px;
    max-width: 380px;
    gap: 16px;
}

.msg-info-data{
    color: #c0c0c0;

}

.delete-msg-btn{
    background: rgb(255, 0, 0);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 16px;
    margin-top: 25px;
}
.delete-msg-btn:hover{
    opacity: 0.8;
}

.edit-msg-input{
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: black;
    font-size: 19px;
    font-weight: 400;
    border-bottom: 2px solid black;
    /* min-height: 200px; */
    min-width: 350px;
    max-height: 200px;
    resize: none;
    line-height: 1.2;
    border-radius: 3px;
    padding: 5px;
    font-family: poppins;


}

.edit-msg-input::-webkit-scrollbar, .added-users::-webkit-scrollbar{
    width: 10px;
    height: 7px;
}
.edit-msg-input::-webkit-scrollbar-track, .added-users::-webkit-scrollbar-track {
    background: #ababab;
  }
  .edit-msg-input::-webkit-scrollbar-thumb , .added-users::-webkit-scrollbar-thumb{
    background: #7d7d7d;
  }