
.msg{
    display: flex;
    color: black;
    margin-bottom: 18px;
    align-items: center;
    font-size: 19px;
    font-weight: 500;
}
.left-msg{
    justify-content: flex-start;

}

.right-msg{
    justify-content: flex-end;
}

.center-msg{
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(56, 56, 56);
    padding: 0;
    border-radius: 10px;
}

.msg-bubble{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.left-msg .msg-bubble{
    border-radius: 10px 10px 10px 0px;
}

.right-msg .msg-bubble{
    border-radius: 10px 10px 0px 10px;

}

.msg-info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(96, 93, 93);
    gap: 18px;
    font-weight: 410;
    font-size: 17px;
}

.msg-info-right{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: rgb(96, 93, 93);
    gap: 5px;
}
.msg-options{
    position: relative;
}
.msg-options:hover{
    background-color: rgb(65, 162, 171);
    cursor: pointer;
    border-radius: 5px;
}

.msg-info-popup{
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 300px;
    max-width: 300px;
    gap: 16px;
}

.msg-info-data{
    color: #c0c0c0;

}

.delete-msg-btn{
    background: rgb(255, 0, 0);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 16px;
    margin-top: 25px;
}
.delete-msg-btn:hover{
    opacity: 0.8;
}