.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    background-color: #75cecf;
    color: black;
    height: 75px;

}

.user-name{
    font-size: 20px;
    font-weight: 500;
}
.user-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 7px;
}

.profile-icon, .logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
}
.profile-icon:hover, .logout-btn:hover{
    background-color: #3ab0bb;
}